<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>BreakpadProduct</key>
      <string>YouTube_iOS</string>
      <key>BreakpadProductDisplay</key>
      <string>YouTube</string>
      <key>BuildDate</key>
      <string>Unknown</string>
      <key>BuildMachineOSBuild</key>
      <string>16G1036</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleDisplayName</key>
      <string>YouTube</string>
      <key>CFBundleExecutable</key>
      <string>YouTube</string>
      <key>CFBundleIcons</key>
      <dict>
         <key>CFBundlePrimaryIcon</key>
         <dict>
            <key>CFBundleIconFiles</key>
            <array>
               <string>AppIcon20x20</string>
               <string>AppIcon29x29</string>
               <string>AppIcon40x40</string>
               <string>AppIcon60x60</string>
            </array>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
         </dict>
      </dict>
      <key>CFBundleIcons~ipad</key>
      <dict>
         <key>CFBundlePrimaryIcon</key>
         <dict>
            <key>CFBundleIconFiles</key>
            <array>
               <string>AppIcon20x20</string>
               <string>AppIcon29x29</string>
               <string>AppIcon40x40</string>
               <string>AppIcon60x60</string>
               <string>AppIcon76x76</string>
               <string>AppIcon83.5x83.5</string>
            </array>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
         </dict>
      </dict>
      <key>CFBundleIdentifier</key>
      <string>com.google.ios.youtube</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>YouTube</string>
      <key>CFBundlePackageType</key>
      <string>APPL</string>
      <key>CFBundleShortVersionString</key>
      <string>13.02.9</string>
      <key>CFBundleSupportedPlatforms</key>
      <array>
         <string>iPhoneOS</string>
      </array>
      <key>CFBundleURLTypes</key>
      <array>
         <dict>
            <key>CFBundleURLName</key>
            <string>com.google.ios.youtube</string>
            <key>CFBundleURLSchemes</key>
            <array>
               <string>vnd.youtube</string>
               <string>vnd.youtube-broad-matching</string>
               <string>youtube</string>
               <string>com.google.sso.755541669657-kbosfavg7pk7sr3849c3tf657hpi5jpd</string>
               <string>gsd-vnd.youtube</string>
               <string>gsd-vnd.youtube-broad-matching</string>
               <string>gsd-youtube</string>
            </array>
         </dict>
      </array>
      <key>CFBundleVersion</key>
      <string>13.02.9</string>
      <key>DTCompiler</key>
      <string>com.apple.compilers.llvm.clang.1_0</string>
      <key>DTPlatformBuild</key>
      <string>15A372</string>
      <key>DTPlatformName</key>
      <string>iphoneos</string>
      <key>DTPlatformVersion</key>
      <string>11.0</string>
      <key>DTSDKBuild</key>
      <string>15A372</string>
      <key>DTSDKName</key>
      <string>iphoneos11.0</string>
      <key>DTXcode</key>
      <string>0900</string>
      <key>DTXcodeBuild</key>
      <string>9A235</string>
      <key>GcmSenderId</key>
      <string>414843287017</string>
      <key>ITSAppUsesNonExemptEncryption</key>
      <false />
      <key>LSApplicationQueriesSchemes</key>
      <array>
         <string>allo</string>
         <string>chromium-x-callback</string>
         <string>chromium</string>
         <string>chromiums</string>
         <string>comgooglemaps</string>
         <string>comgooglemaps-x-callback</string>
         <string>com.google.hangouts</string>
         <string>com.google.hangouts-v3</string>
         <string>fb</string>
         <string>googleauthenticator</string>
         <string>googlechrome-x-callback</string>
         <string>googlechrome</string>
         <string>googlechromes</string>
         <string>googlegmail</string>
         <string>googlegmail-x-callback</string>
         <string>googlevoice</string>
         <string>gplus</string>
         <string>gplus-v2</string>
         <string>gplus-v3</string>
         <string>inbox-gmail</string>
         <string>inbox-gmail-x-callback</string>
         <string>itms-apps</string>
         <string>line</string>
         <string>mailto</string>
         <string>simplebrowser-x-callback</string>
         <string>simplebrowser</string>
         <string>simplebrowsers</string>
         <string>sms</string>
         <string>storylink</string>
         <string>twitter</string>
         <string>youtube</string>
         <string>youtubecapture</string>
         <string>vnd.youtube</string>
         <string>vnd.youtube-broad-matching</string>
         <string>vnd.youtube.gaming</string>
         <string>vnd.youtube.music</string>
         <string>vnd.youtube.kids</string>
         <string>vnd.youtube.tv</string>
         <string>whatsapp</string>
         <string>zagat</string>
      </array>
      <key>LSRequiresIPhoneOS</key>
      <true />
      <key>MinimumOSVersion</key>
      <string>9.0</string>
      <key>NSAppTransportSecurity</key>
      <dict>
         <key>NSAllowsArbitraryLoads</key>
         <true />
      </dict>
      <key>NSAppleMusicUsageDescription</key>
      <string>Music Sharing</string>
      <key>NSCameraUsageDescription</key>
      <string>This lets you create videos using the app.</string>
      <key>NSContactsUsageDescription</key>
      <string>Your contacts will be sent to YouTube servers to help you find friends to share videos with.</string>
      <key>NSLocationWhenInUseUsageDescription</key>
      <string>Makes it easier for you to attach location information to your videos and live streams and allows for features such as improved recommendations and ads.</string>
      <key>NSMicrophoneUsageDescription</key>
      <string>This lets you include audio with your videos and search using your voice.</string>
      <key>NSPhotoLibraryUsageDescription</key>
      <string>This lets you upload videos you've already created.</string>
      <key>UIAppFonts</key>
      <array>
         <string>ProductSans-Regular.ttf</string>
         <string>YouTubeResources.bundle/YTSans-Medium.otf</string>
      </array>
      <key>UIBackgroundModes</key>
      <array>
         <string>audio</string>
         <string>fetch</string>
      </array>
      <key>UIDeviceFamily</key>
      <array>
         <integer>1</integer>
         <integer>2</integer>
      </array>
      <key>UILaunchStoryboardName</key>
      <string>Launch</string>
      <key>UIRequiredDeviceCapabilities</key>
      <array>
         <string>armv7</string>
      </array>
      <key>UIRequiresFullScreen</key>
      <false />
      <key>UIStatusBarHidden</key>
      <true />
      <key>UIStatusBarStyle</key>
      <string>UIStatusBarStyleBlackOpaque</string>
      <key>UISupportedInterfaceOrientations</key>
      <array>
         <string>UIInterfaceOrientationPortrait</string>
         <string>UIInterfaceOrientationLandscapeLeft</string>
         <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
      <key>UISupportedInterfaceOrientations~ipad</key>
      <array>
         <string>UIInterfaceOrientationPortrait</string>
         <string>UIInterfaceOrientationPortraitUpsideDown</string>
         <string>UIInterfaceOrientationLandscapeLeft</string>
         <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
   </dict>
</plist>
